/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/* ------------------------------- */
/* Default CSS */
/* ------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* box-sizing is not inherited by default */
  /* the below says all child elements of body will inherit 
  body { box-sizing: border-box } */
  box-sizing: inherit;
}

html {
  /* font-size defined in html as this is considered the "root" element */
  /* change all px to rem for responsive design changes all in one place */
  /* set to % instead of px so users can change font size */
  /* set to 62.5%(10px/16px) for easy calculations of rem unit */
  font-size: 100%;
}

body {
  /* accounts for border and padding of the element */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 150%;
  background-color: #FFF;
  color: #777;
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  padding: 1rem;
}

/* ------------------------------- */
/* Background Styles */
/* ------------------------------- */
.background-img-full {
  /* shows full image at any window size (RESPONSIVE DESIGN) */
  background-size: cover;
  /* background is fixed at the top */
  background-position: top;
  /* header will show full height of screen */
  height: 95vh;
  /* makes background stay in place while scrolling */
  /*background-attachment: fixed;*/
}

/* ------------------------------- */
/* Clip-path Styles */
/* ------------------------------- */
.clip-bottom {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
	        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

/* ------------------------------- */
/* Header Section */
/* ------------------------------- */
.header-background-img {
	background-image: -webkit-gradient(
		linear, 
		left top, right bottom, 
		from(rgba(126,213,111,.8)),
		to(rgba(40,180,133,.8))),
  url('../img/hero.jpg');
	background-image: linear-gradient(
		to bottom right, 
		rgba(126,213,111,.8),
		rgba(40,180,133,.8)),
  url('../img/hero.jpg');
}

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
}

.header-logo {
  height: 2.5rem;
  width: auto;
}

.header-h1 {
  font-size: 5rem;
  letter-spacing: 2.3rem;
  margin: auto;
}

.header-h4 {
  font-size: 1.5rem; 
  font-weight: 700;
  letter-spacing: 1.3rem;
  margin: auto;
}

/* Header Buttons */
.header-btn, 
.header-btn:link,
.header-btn:visited {
  color: gray;
  border-radius: 2.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  padding: .9rem 1.8rem .9rem 1.8rem;
}

.header-btn:active {
  transform: translateY(.3rem);
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, .2);
}

/* Header Responsive Design */
@media (max-width: 1200px) {
  .header-logo {
    height: 2.25rem;
  }

  .header-h1 {
    font-size: 4rem;
    letter-spacing: 2.07rem;
  }

  .header-h4 {
    font-size: 1.35rem;
    letter-spacing: 1.1rem;
  }

  .header-btn {
    font-size: 1.08rem;
    padding: .81rem 1.62rem .81rem 1.62rem;
  }
}

@media (max-width: 992px) {
  .header-h1 {
    font-size: 3.5rem;
    letter-spacing: 1.7rem;
  }
  
  .header-h4 {
    font-size: 1.4rem;
    letter-spacing: .75rem;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .header-logo {
    height: 1.7rem;
  }
  
  .header-h1 {
    font-size: 3rem;
    letter-spacing: 1.2rem;
  }
  
  .header-h4 {
    font-size: 1.2rem;
    letter-spacing: .6rem;
  }

  .header-btn {
    font-size: .9rem;
    padding: .6em 1.2rem .6rem 1.2rem;
  }
}

@media (max-width: 576px) {
  .header-h1 {
    font-size: 2.7rem;
    letter-spacing: .5rem;
  }
  
  .header-h4 {
    font-size: 1rem;
    letter-spacing: .35rem;
  }
}

/* Header Animation */
.header-slidein-right {
  -webkit-animation-name: header-slidein-right;
          animation-name: header-slidein-right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes header-slidein-right {
  from {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* from opacity:0 to opacity:1 allows fade-in transition */
@keyframes header-slidein-right {
  from {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
            opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
  }
}

.header-slidein-left {
  -webkit-animation-name: header-slidein-left;
          animation-name: header-slidein-left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes header-slidein-left {
  from {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes header-slidein-left {
  from {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
            opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
  }
}

.header-slidein-top {
  -webkit-animation-duration: 1.0s;
          animation-duration: 1.0s;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  /* setting to backwards applies the values defined in the first relevant keyframe 
  as soon as it is applied to the target, and retain this during the animation-delay period */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-name: header-slidein-top;
          animation-name: header-slidein-top;
}

@-webkit-keyframes header-slidein-top {
  from {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes header-slidein-top {
  from {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
            opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
  }
}

