/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/* ------------------------------- */
/* Default CSS */
/* ------------------------------- */
* {
  margin: 0;
  padding: 0;
  /* accounts for border and padding of the element */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 150%;
}

body {
  background-color: #FFF;
  color: #777;
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  padding: 30px;
}

/* ------------------------------- */
/* Background Styles */
/* ------------------------------- */
.background-img-full {
  /* shows full image at any window size (RESPONSIVE DESIGN) */
  background-size: cover;
  /* background is fixed at the top */
  background-position: top;
  /* header will show full height of screen */
  height: 95vh;
  /* makes background stay in place while scrolling */
  /*background-attachment: fixed;*/
}

/* ------------------------------- */
/* Clip-path Styles */
/* ------------------------------- */
.clip-bottom {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
	        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

/* ------------------------------- */
/* Header Section */
/* ------------------------------- */
.header-background-img {
	background-image: -webkit-gradient(
		linear, 
		left top, right bottom, 
		from(rgba(126,213,111,.8)),
		to(rgba(40,180,133,.8))),
  url('../img/hero.jpg');
	background-image: linear-gradient(
		to bottom right, 
		rgba(126,213,111,.8),
		rgba(40,180,133,.8)),
  url('../img/hero.jpg');
}

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
}

.header-logo {
  height: 33px;
  width: auto;
}

.header-h1 {
  font-size: 4.0rem;
  letter-spacing: 32px;
  margin: auto;
}

.header-h4 {
  font-size: 1.4rem; 
  font-weight: 900;
  letter-spacing: 17px;
  margin: auto;
}

/* Header Buttons */
.header-btn, 
.header-btn:link,
.header-btn:visited {
  color: gray;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 14px 28px 14px 28px;
}

.header-btn:active {
  transform: translateY(3px);
  box-shadow: 0px 10px 100px rgba(0, 0, 0, .2);
}

/* Header Responsive Design */
@media (max-width: 1200px) {
  .header-h1 {
    font-size: 3.6rem;
  }

  .header-h4 {
    font-size: 1.1rem;
  }

  .header-btn {
    font-size: .9rem;
    padding: 12px 25px 12px 25px;
  }
}

@media (max-width: 992px) {
  .header-h1 {
    font-size: 3.3rem;
  }
  
  .header-h4 {
    font-size: 1.0rem;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .header-logo {
    height: 28px;
  }
  
  .header-h1 {
    font-size: 3.0rem;
    letter-spacing: 29px;
  }
  
  .header-h4 {
    font-size: .9rem;
    letter-spacing: 15px;
  }
  
  .header-btn {
    font-size: .8rem;
    padding: 10px 22px 10px 22px;
  }
}

@media (max-width: 576px) {
  .header-h1 {
    letter-spacing: 9px;
  }
  
  .header-h4 {
    letter-spacing: 8px;
  }
}

/* Header Animation */
.header-slidein-right {
  -webkit-animation-name: header-slidein-right;
          animation-name: header-slidein-right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes header-slidein-right {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/* from opacity:0 to opacity:1 allows fade-in transition */
@keyframes header-slidein-right {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
            opacity: 0;
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
            opacity: 1;
  }
}

.header-slidein-left {
  -webkit-animation-name: header-slidein-left;
          animation-name: header-slidein-left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes header-slidein-left {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes header-slidein-left {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
            opacity: 0;
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
            opacity: 1;
  }
}

.header-slidein-top {
  -webkit-animation-duration: 1.0s;
          animation-duration: 1.0s;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  /* setting to backwards applies the values defined in the first relevant keyframe 
  as soon as it is applied to the target, and retain this during the animation-delay period */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-name: header-slidein-top;
          animation-name: header-slidein-top;
}

@-webkit-keyframes header-slidein-top {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }

  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes header-slidein-top {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            opacity: 0;
  }

  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
  }
}

